{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1496631488200-c0b85f3044a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container" style="font-family: 'Mulish', sans-serif;">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <img src='static/img/DominicYiPortrait.jpg'alt="Yoonkwon Profile Picture"
             style="max-width: 40%; border-radius: 55%; display: block; margin-left: auto; margin-right: auto;">
<hr>
        <p>Hi! I am a Developer, with experience in Data Science and Machine Learning. I have a B.S. in Computer
          Science and B.A. in Chemistry from University of Minnesota-Twin Cities. I am fueled by my passion
          for creating positive impacts on others using technology. I consider myself a ‘forever student,’ eager
          to both build on my academic foundations in computer science and stay in tune with the latest technological
          tools and skills through continued coursework.</p>

          <p>I believe that the balance and mindfulness in the workplace is key to success. I live this out
            through my interests in bouldering, cooking, and meditation. I am currently working as a Data Science Co-op
            at Doosan Bobcat and is always interested in a challenge.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}